<a href="https://colab.research.google.com/github/Darshan59063/Credit-Card-Fraud-Detection/blob/main/CreditCardFraud_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing files

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
#Transfering our csv file into pd dataframe
card_data = pd.read_csv('/content/creditcard.csv')

In [ ]:
card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [ ]:
card_data.shape

(284807, 31)

In [ ]:
card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [ ]:
card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [ ]:
card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [ ]:
#highly ununiform dataset as it contains more number of zeroes

In [ ]:
legal = card_data[card_data.Class == 0]

In [ ]:
fraud = card_data[card_data.Class == 1]

In [ ]:
legal.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [ ]:
fraud.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [ ]:
legal.shape

(284315, 31)

In [ ]:
fraud.shape

(492, 31)

In [ ]:
#making data uniform(same number of fraud and legal class)

In [ ]:
card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [ ]:
# legal_u is dataframe of legal dataset for uniform sampling of legal and fraud datasets
legal_u = legal.sample(492)

In [ ]:
legal_u.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
69166,53296.0,1.235346,0.216752,0.166812,0.510948,-0.249558,-0.585893,-0.095650,0.025124,-0.042479,...,-0.269693,-0.865768,0.089013,-0.066255,0.193478,0.100883,-0.034362,0.015048,1.98,0
16042,27475.0,-0.750046,1.452719,-1.068849,-0.036406,1.989165,3.998637,-1.396100,-1.292724,-1.118804,...,-1.342508,-0.111525,0.271805,0.943301,-0.267678,-0.536664,-0.066602,0.014046,13.78,0
16400,27773.0,-0.345360,1.154934,1.303416,0.059016,0.081211,-0.980263,0.728170,-0.095239,-0.456248,...,-0.259320,-0.656619,-0.021862,0.340213,-0.146028,0.070853,0.248488,0.099235,1.78,0
123016,76776.0,-0.795849,0.692444,2.220940,0.886138,0.085240,0.724877,-0.059088,0.253993,-0.021169,...,0.150103,0.911215,-0.019971,-0.299440,-0.372045,-0.238901,0.425724,0.045898,6.00,0
264801,161598.0,-0.781770,1.957499,1.422012,4.181273,0.380281,1.186385,0.152694,0.661936,-2.543424,...,0.384984,1.247894,-0.577786,-0.393505,0.698615,0.861338,0.212769,0.067642,8.12,0

In [ ]:
#now merging legl_u and fraud
dataset = pd.concat([legal_u, fraud], axis=0)
dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
69166,53296.0,1.235346,0.216752,0.166812,0.510948,-0.249558,-0.585893,-0.095650,0.025124,-0.042479,...,-0.269693,-0.865768,0.089013,-0.066255,0.193478,0.100883,-0.034362,0.015048,1.98,0
16042,27475.0,-0.750046,1.452719,-1.068849,-0.036406,1.989165,3.998637,-1.396100,-1.292724,-1.118804,...,-1.342508,-0.111525,0.271805,0.943301,-0.267678,-0.536664,-0.066602,0.014046,13.78,0
16400,27773.0,-0.345360,1.154934,1.303416,0.059016,0.081211,-0.980263,0.728170,-0.095239,-0.456248,...,-0.259320,-0.656619,-0.021862,0.340213,-0.146028,0.070853,0.248488,0.099235,1.78,0
123016,76776.0,-0.795849,0.692444,2.220940,0.886138,0.085240,0.724877,-0.059088,0.253993,-0.021169,...,0.150103,0.911215,-0.019971,-0.299440,-0.372045,-0.238901,0.425724,0.045898,6.00,0
264801,161598.0,-0.781770,1.957499,1.422012,4.181273,0.380281,1.186385,0.152694,0.661936,-2.543424,...,0.384984,1.247894,-0.577786,-0.393505,0.698615,0.861338,0.212769,0.067642,8.12,0

In [ ]:
dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [ ]:
dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [ ]:
dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
69166,53296.0,1.235346,0.216752,0.166812,0.510948,-0.249558,-0.585893,-0.095650,0.025124,-0.042479,...,-0.269693,-0.865768,0.089013,-0.066255,0.193478,0.100883,-0.034362,0.015048,1.98,0
16042,27475.0,-0.750046,1.452719,-1.068849,-0.036406,1.989165,3.998637,-1.396100,-1.292724,-1.118804,...,-1.342508,-0.111525,0.271805,0.943301,-0.267678,-0.536664,-0.066602,0.014046,13.78,0
16400,27773.0,-0.345360,1.154934,1.303416,0.059016,0.081211,-0.980263,0.728170,-0.095239,-0.456248,...,-0.259320,-0.656619,-0.021862,0.340213,-0.146028,0.070853,0.248488,0.099235,1.78,0
123016,76776.0,-0.795849,0.692444,2.220940,0.886138,0.085240,0.724877,-0.059088,0.253993,-0.021169,...,0.150103,0.911215,-0.019971,-0.299440,-0.372045,-0.238901,0.425724,0.045898,6.00,0
264801,161598.0,-0.781770,1.957499,1.422012,4.181273,0.380281,1.186385,0.152694,0.661936,-2.543424,...,0.384984,1.247894,-0.577786,-0.393505,0.698615,0.861338,0.212769,0.067642,8.12,0

In [ ]:
dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,97086.325203,0.092039,0.065420,0.081202,0.050876,-0.005762,-0.001089,-0.013397,0.002346,-0.000241,...,-0.030516,0.007300,0.040401,0.020000,0.008123,-0.064992,-0.012326,0.007537,0.002333,75.268028
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [ ]:
Y = dataset['Class']

In [ ]:
X = dataset.drop(columns = 'Class', axis = 1)

In [ ]:
#implementing model by splitting our refined sample and fitting it in suitable model

In [ ]:
Xtrain, Xtest, Ytrain, Ytest = train_test_split(X, Y, test_size=0.2, stratify = Y, random_state = 5)

In [ ]:
print(X.shape, Xtrain.shape,  Xtest.shape)

(984, 30) (787, 30) (197, 30)

In [ ]:
Xtrain.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
30148,35795.0,-1.793073,0.890014,0.585687,0.992464,-0.157620,-0.773120,0.859642,-0.242650,-0.224064,...,-0.267453,0.061622,0.513733,-0.274721,0.441482,-0.241535,-0.402184,-0.440789,0.019207,93.72
71149,54180.0,-1.099679,-0.274519,1.392988,0.991607,1.171069,-0.893419,-0.181604,0.194425,-0.608596,...,0.277165,0.300824,0.472882,-0.022933,-0.017691,-0.060461,-0.264455,0.099691,0.152489,19.95
42674,41194.0,-7.896886,5.381020,-8.451162,7.963928,-7.862419,-2.376820,-11.949723,5.051356,-6.912076,...,0.645974,2.557944,0.926278,0.032795,0.638073,0.361887,0.444577,1.101923,0.205958,1.52
234047,147806.0,-1.459612,0.346436,1.518943,1.018359,0.122666,-0.042141,-0.068309,0.543227,-0.536011,...,0.305249,0.357325,0.646684,-0.320530,-0.411111,0.651473,-0.237197,-0.015035,-0.086027,74.25
154454,101597.0,0.913116,1.145381,-4.602878,2.091803,-0.473224,-2.085436,-1.671244,0.094397,0.337799,...,0.508985,0.401416,-0.084933,-0.197684,-0.283271,0.387597,-0.553527,0.516274,0.270828,147.87

In [ ]:
#using logistic regression model

In [ ]:
md = LogisticRegression()

In [ ]:
#training LogisticRegression moddel by training data

In [ ]:
md.fit(Xtrain, Ytrain)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [ ]:
#accuracy score of training data

In [ ]:
Ytrainpred = md.predict(Xtrain)
trainingaccuracy  = accuracy_score(Ytrainpred, Ytrain)
print('accuracy score of training data', trainingaccuracy )

accuracy score of training data 0.9453621346886912

In [ ]:
#accuracy score of test data

In [ ]:
Ytestpred = md.predict(Xtest)
trainingaccuracy  = accuracy_score(Ytestpred, Ytest)
print('accuracy score of test data', trainingaccuracy )

accuracy score of test data 0.9238578680203046

In [ ]:
#training KNN model by training data

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(Xtrain,Ytrain)

KNeighborsClassifier(n_neighbors=3)

In [ ]:
#accuracy score of training data

In [ ]:
Ytrainpred = knn.predict(Xtrain)
trainingaccuracy  = accuracy_score(Ytrainpred, Ytrain)
print('accuracy score of training data', trainingaccuracy )

accuracy score of training data 0.8195679796696315

In [ ]:
#accuracy score of test data

In [ ]:
Ytestpred = knn.predict(Xtest)
trainingaccuracy  = accuracy_score(Ytestpred, Ytest)
print('accuracy score of test data', trainingaccuracy )

accuracy score of test data 0.6802030456852792

We got highest accuracy in LogisticRegression  model
so we will proceed with LogisticRegression  as our final model with accuracy of around 90%